* {
    margin: 0;
    padding: 0;
  
}

body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Neuzeit_bold';
    padding: 0;
    margin: 0;
    background-color: #262626;
    position: relative;
    min-height: 100vh;
    /* padding-bottom: 200px; */
    padding-bottom: 380px;
    text-decoration: none;
}

a {
  text-decoration: none;
}


.contenedor{ 
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    position: relative;
}


@font-face {
  font-family: 'Neuzeit_lighter';
  src: url('./Font_Neuzeit_Star/NeuzeitGro-Lig.ttf') format('truetype'); 
  font-style: normal;
  font-weight: lighter;
}


@font-face {
  font-family: 'Neuzeit_bold';
  src: url('./Font_Neuzeit_Star/NeuzeitGro-Bla.ttf') format('truetype'); 
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Neuzeit_normal';
  src: url('./Font_Neuzeit_Star/NeuzeitGro-Reg.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Neuzeit';
  src: url('./Font_Neuzeit_Star/NeuzeitGroCon-Bla.ttf') format('truetype');
  font-style: normal;
  font-weight: bolder;
}

/* HEADER */


header{
    background: rgb(52,5,52);
    background: linear-gradient(90deg, rgba(52,5,52,1) 0%, rgba(35,3,33,1) 50%, rgba(52,5,52,1) 100%);
    color: whitesmoke;
    min-height: 83px;
}

header a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 19.63px;
}

header li{
    display: inline;
    float: left;
    margin-right: 30px;
}

header li a:hover {
  background-size: 100% 2px;
}

header li a{
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

header #logo{
    float: left;
    margin-top: 7px;
    max-width: 175px;
    margin-left: 50px;
}

header #logo:hover {
  filter: drop-shadow(4px 1px 2px rgba(245, 245, 245, 0.437));

}

header nav{
    float: left;
    display: flex;
    align-items: center;
    margin-left: 75px;
}

header nav img {
  max-width: 20px;
  margin-right: 5px;
}

header .datosUsuario{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
}

header .datosUsuario h2{
    font-size: 20px;
    margin-right: 10px;
    font-weight: normal;
}

header .datosUsuario img {
  width: 50px;
}


/* Carrousel */

.slideshow-container {
  max-width: 100%;
  position: relative;
}

.mySlides {
  display: none;
  margin: auto;
}

.mySlides img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots{
  margin-top: 10px;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

 /* Continuar Viendo */
#continuarViendo{
  color: whitesmoke;
  max-width: 100%;
  margin-left: 5%;
}

.card{
  display: flex;
  background-color: #230321;
  max-height: 500px;
  max-width: 800px;
  margin: 50px 80px 50px 0;
  color: whitesmoke;
}

.sombreado:hover{
  box-shadow: 3px 3px 3px #717171;
}

.card img{
  width: 50%;
  min-height: 200px;
  min-width: 300px;
  object-fit: cover;
}

.cardContainer{
  min-width: 300px;
  padding: 15px;
  margin: auto 0;
}

.cardContainer h3, p{
  margin-bottom: 10px;
}

progress {
  accent-color: rgb(192, 5, 142);
}

mark {
  color: #A5A0A0;
  background-color: rgba(187, 187, 187, 0.304);
}

.cardContainer p {
  color: #A5A0A0;
}

/* Recomendados */
#recomendados{
  margin-left: 5%;
  margin-bottom: 50px;
  color: whitesmoke;
}



#recomendados h1 {
  color: whitesmoke;
}

.recomendado img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.recomendado {
  margin-top: 50px;
  margin-right: 120px;
}

.recomendadoCard {
  background-color: #230321;
  padding: 15px 15px 5px 15px;
}

.recomendadoCard h3, p{
  margin-bottom: 10px;
}

/* DESTACADO*/
#destacados{
  margin-left: 5%;
  margin-bottom: 3%;
}

.destacado{
  display: flex;
  margin-top: 50px;
  margin-right: 120px;
}
.destacado img {
  width: 300px;
  height: 200px;
  object-fit:cover;
}

#destacadosTitulo {
  color: whitesmoke;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px 0px;
  margin-top: 20px;
  background-color: #3f3e3e56;
  color: #bbb;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

footer img{
  width: 60px;
}

#logo_uade {
  width: 300px;
  max-width: 300px;
}

footer img:hover {
  filter: drop-shadow(4px 4px 4px rgba(245, 245, 245, 0.437));
}


#alumnos {
  display: flex;
  justify-content: center;
}

.alumno {
  margin: 7px 10px;
}

.alumno a{
  text-decoration: none;
  color: #bbb;
}

.alumno a:hover{
  text-decoration: none;
  color: #f2f2f2;
}

footer .redes {
  max-width: 15px;
}

footer #redes img {
  margin: 0 8px;
}

/* Mi lista */

#tituloMiLista {
  margin-top: 40px;
}

.mi_lista {
  margin-top: 20px !important;
}

.subtituloMiLista{
  margin-top: 20px;
}

.margin_auto {
  margin: auto;
}


/* Reproductor */
hr{
  margin-top: 10px;
}

#portada_reproductor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url(./img/img_reproductor.jpg);
  height: 500px;
  background-size: cover;
  padding: 40px 80px;
  color: whitesmoke;
}

#portada_reproductor img {
  max-height: 120px;
  margin-bottom: 30px;
  margin-top: 20px;
}

#portada_reproductor button{
  margin-bottom: 30px;
  padding: 15px 25px;
  border-radius: 5px;
}

#portada_reproductor p {
  font-size: 20px;
}

iframe {
  display: none;
}

.reproductor {
  display: block;
}

.hidden {
  display: none;
}

#video {
  width: 100%;
  height: 100%;
}

/*Evento*/

#eventoHalloween{
  display: flex;
  min-height: 700px;
  /* background-image: url(img/halloween-wallpapers-los-simpson2.jpg); */
  background-image: url(img/prueba4.jpg);
  background-size: cover;
  background-position: center;
}
#eventoHalloween h1{
  margin: 25% 0 0 10%;
  flex-direction: column-reverse;
  align-items: center;
  color: white;
  font-size: 70px;
  text-shadow: 0px 0px 25px black;

}

#eventoNavidad{
  display: flex;
  min-height: 700px;
  background-image: url(img/1873960.jpg);
  background-size: cover;
  background-position:top;
}
#eventoNavidad h1{
  margin: 25% 0 0 10%;
  flex-direction: column-reverse;
  align-items: center;
  color: white;
  font-size: 70px;
  text-shadow: 0px 0px 25px gray;

}
#eventoVacaciones{
  display: flex;
  min-height: 700px;
  background-image: url(img/Los-Simpson-Wallpapers-2.jpg);
  background-size: cover;
  background-position: center;
}
#eventoVacaciones h1{
  margin: 25% 0 0 10%;
  flex-direction: column-reverse;
  align-items: center;
  color: white;
  font-size: 70px;
  text-shadow: 0px 0px 25px black;

}
#eventoEscuela{
  display: flex;
  min-height: 700px;
  background-image: url(img/232d64e61c73ad1ba144aef552a2f7c2.jpg);
  background-size: cover;
  background-position: center;
}
#eventoEscuela h1{
  margin: 25% 0 0 10%;
  flex-direction: column-reverse;
  align-items: center;
  color: white;
  font-size: 60px;
  text-shadow: 0px 0px 25px black;
}

.contenedorBotones{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
  

}
.botonEvento{
  margin-top: 100px;
  text-align: center;
  background-color: whitesmoke;
  color: #230321;
  font-size: 20px;
  font-family: 'Neuzeit_bold';
  width: 200px;
  height: 200px;
}
.botonEvento p{
  padding-top: 75px;
}

.contenedorBotones a{
  text-decoration: 0;
}

/* Buscador */

.buscador{
  margin-bottom: 50px; 
  padding: 0 5%;
}


.inputBuscador{
  align-self: center; 
  background-color: #262626;
  color: white;
  height: 68px; 
  outline: none; 
  width: 100%;
  border-width: 0 0 2px 0;
  border-color: white;
  font-size: 40px;    
}

.inputBuscador::placeholder { color: white; }

.mySlidesPopulares, .mySlidesRecientemente, .mySlidesRecomendaciones{
  display: none;
  margin: auto;
}


a:hover{
  text-decoration: none;
}



@media only screen and (max-width: 768px) {

  /* Principal */

  .contenedor {
    display: flex;
    flex-direction: column;
  }

  .cardContainer { 
    min-width: auto;
    overflow: hidden;
  }

 .recomendado img{ 
    width: 100%;
 }

 .destacado img { 
  width: 100%;
 }

 /* Busqueda */
 .slides {
  display: flex;
  flex-direction: column;
 }

 .mi_lista {
  width: 100%;
 }

 .ocultar_media {
  visibility: hidden;
 }

 /* Reproductor */
 #portada_reproductor img {
  max-height: 80px;
 }

 .mySlidesSinReproducir, mySlidesReproducidos {
  display: flex;
  margin: auto;
 }

 /* Busquedas */
 .mySlidesPopulares, .mySlidesRecientemente, .mySlidesRecomendaciones{
    display: flex;
    margin: auto;
    
  }
  .recomendados{
    display: flex;
  }

  #recomendados .contenedor{
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }
  .recomendado{
    min-width: 250px;
    margin: 10px;
  }

  .buscador{
    margin-bottom: 50px; 
    padding: 0;
  }
  .inputBuscador{
    width: 90%; 
    margin-left: 10px;
  }
 
}