* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #262626;
    position: relative;
    min-height: 100vh;
    padding-bottom: 200px;
}


.contenedor{ 
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    position: relative;
}


/* HEADER */


header{
    background: rgb(52,5,52);
    background: linear-gradient(90deg, rgba(52,5,52,1) 0%, rgba(35,3,33,1) 50%, rgba(52,5,52,1) 100%);
    color: whitesmoke;
    min-height: 83px;
}

header a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 19.63px;
}

header li{
    display: inline;
    float: left;
    margin-right: 30px;
}

header #logo{
    float: left;
    margin-top: 7px;
    max-width: 175px;
    margin-left: 50px;
}

header nav{
    float: left;
    display: flex;
    align-items: center;
    margin-left: 75px;
}

header nav img {
  max-width: 20px;
  margin-right: 5px;
}

header .datosUsuario{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
}

header .datosUsuario h2{
    font-size: 20px;
    margin-right: 10px;
    font-weight: normal;
}

header .datosUsuario img {
  width: 50px;
}

/* Carrousel */

.slideshow-container {
  max-width: 100%;
  position: relative;
}

.mySlides {
  display: none;
}

.mySlides img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

 /* Continuar Viendo */
#continuarViendo{
  color: whitesmoke;
  max-width: 100%;
  margin-left: 5%;
}

.card{
  display: flex;
  background-color: #230321;
  max-height: 500px;
  max-width: 800px;
  margin: 50px 80px 50px 0;
  color: whitesmoke;
}
.card img{
  width: 50%;
  min-height: 200px;
  min-width: 300px;
  object-fit: cover;
}

.cardContainer{
  min-width: 300px;
  padding: 15px;
  margin: auto 0;
}

.cardContainer h3, p{
  margin-bottom: 10px;
}

progress {
  accent-color: rgb(192, 5, 142);
}

mark {
  color: #A5A0A0;
  background-color: rgba(187, 187, 187, 0.304);
}

.cardContainer p {
  color: #A5A0A0;
}

/* Recomendados */
#recomendados{
  margin-left: 5%;
  margin-bottom: 50px;
  color: whitesmoke;
}

#recomendados h1 {
  color: whitesmoke;
}

.recomendado img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.recomendado {
  margin-top: 50px;
  margin-right: 120px;
}

.recomendadoCard {
  background-color: #230321;
  padding: 15px 15px 5px 15px;
}

.recomendadoCard h3, p{
  margin-bottom: 10px;
}

/* DESTACADO*/
#destacados{
  margin-left: 5%;
  margin-bottom: 3%;
}

.destacado{
  display: flex;
  margin-top: 50px;
  margin-right: 120px;
}
.destacado img {
  width: 300px;
  height: 200px;
  object-fit:cover;
}

#destacadosTitulo {
  color: whitesmoke;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-color: #3f3e3e56;
  color: #bbb;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer img{
  width: 100px;
}

footer p {
  margin: 15px 0;
}

#alumnos {
  display: flex;
  justify-content: center;
}

.alumno {
  margin: 7px 10px;
}

.alumno a{
  text-decoration: none;
  color: #bbb;
}

.alumno a:hover{
  text-decoration: none;
  color: #f2f2f2;
}