.buscador{
    margin-bottom: 50px; 
    padding: 0 5%;
}


.inputBuscador{
    align-self: center; 
    background-color: #262626;
    color: white;
    height: 68px; 
    outline: none; 
    width: 1800px;
    border-width: 0 0 2px 0;
    border-color: white;
    font-size: 40px;    
}

.inputBuscador::placeholder { color: white; }